.card-wrapper {
    padding: 4rem;
    border: 1px solid black;
    width: 45%;

}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 50px;
}

.card-image {
    width: 200px;
    object-fit: contain;
}